{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="greeting_bar">
            <h1>Hi, </h1><p>{{user_data.username}}</p>
        </div>
        <div class="dash_bars">
            <div class="bars">
                <div class="dash">
                    <h1>Email Address</h1>
                    <p>{{user.email}}</p>
                </div>
            <div class="dash">
                <h1>Account Balance</h1>
                <p>₦{{user_info.user_balance}}</p>
            </div>
            <div class="dash">
                <h1>Phone Number</h1>
                <p>{{user.phone_number}}</p>
            </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>