{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Dashboard
        {% endblock %}
    </title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}

    <div class="greeting_bar">
        <h1>Hi, <span>
                {{user.username}}
            </span></h1>

    </div>
    <div class="dash_bars">

        <p class="amt">₦{{user_data.user_balance}}</p>
        <h4>Phone:</h4>
        <p>{{user.phone_number}}</p>
        <h4>Email:</h4>
        <p>{{user.email}}</p>

    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>