{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/investment.css' %}">
    <script src="{% static 'js/investment.js' %}"></script>
    {% endblock %}
    <title>
        {% block title %}
        Investment
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}
    <div class="head_title">
        <h1>Investment Plans</h1>
    </div>
    <div class="container reveal">
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N10,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N1,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N20,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N2,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N30,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N3,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N50,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N5,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N75,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N7,500</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N100,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N10,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N150,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N15,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N200,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N20,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N300,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N30,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N400,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N40,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N500,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N50,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N750,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N75,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N800,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N80,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
        <div class="invest-card">
            <img width="70" height="70" src="https://img.icons8.com/ultraviolet/40/sales-performance.png"
                alt="sales-performance" />
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N1,000,000</p>
            </div>
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Daily Profit</p>
                <p style="font-size: 1.5rem;">N100,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                <a href="{% url 'app:paystack' %}">Invest ₦</a>
            </button>
            </Link>
            <p class="percentage">
                (10%)
            </p>
        </div>
    </div>

    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>