{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>
  {% block extra_css %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
  </script>
  <script type="text/javascript">
    const emailJsInit = async () => {
      emailjs.init({
        publicKey: "eP90LBxaVMewj9zZU"
      })
    }
    emailJsInit()
  </script>
  <link rel="stylesheet" href="{% static 'css/payStack.css' %}">
  <script src="{% static 'js/pay.js' %}"></script>
  {% endblock %}

</head>

<body>
  {% block content %}

  <div>
    <div class="card_bg">
      <div class="card-payment">
        <div class="card_title">
          <h1>Make a transfer and confirm</h1>
        </div>
        <div>
          <div class="card_details">
            <h1>6577296777</h1>
            <p>MoniePoint</p>
            <p>Emmanuel Edward</p>
          </div>
        </div>

        <div>
          <div class="container" id="container" style="margin-top: 20px;">
            <h1>Proof of Payment</h1>
            <div class="form">
              <input required id="full_name" type="text" placeholder="Full name">
              <input required id="account_no" type="text" placeholder="Account Number">
              <input required id="bankname" type="text" placeholder="Bank Name">
              <input required id="amount" type="number" placeholder="Amount invested">
              <div class="btn-payment">
                <button id='btn' onclick="sendMail();">
                  <a href="{% url 'app:dashbaord' %}">Confirm</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endblock %}
  {% block footer %}
  {% endblock %}
</body>

</html>