* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav_bar {}

.nav_bar img {
    width: 50px;
}

.top_links {}

.top_links a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.top_links a:hover {
    text-decoration: underline;
}

.footer {
    height: 200px;
    background: black;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p {
    font-weight: bold;
    font-size: clamp(9px, 4vh, 14px);

}

.footer h4 {
    font-weight: 400;
    margin-top: 3px;
    font-size: clamp(13px, 4vh, 18px);
}