.greeting_bar{
    padding: 40px;
    margin-top: 40px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.greeting_bar h1{
    font-size: 60px;
}
.greeting_bar p{
    font-size: 55px;
}
.dash_bars{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bars{
    width: 95%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.dash{
    background-color: black;
    height: 250px;
    border-radius: 20px;
    width: 400px;
    padding:20px;
}
.dash h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
}
.dash p{
    color: white;
    font-size: 20px;
    margin-top: 7px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}