@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand",
        sans-serif;
    background-color:
        #E0FFFF;

}

.greeting_bar {
    padding: 1rem;
}

.greeting_bar span {
    font-weight: normal;
}

.dash_bars {
    height: auto;
    padding: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: lightgreen;
}

.amt {
    font-size: 2rem;
    font-weight: bold;
}