@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand",
        sans-serif;
    margin: 0 auto;
    background-color: rgb(105, 105, 255);
}

.head_title {
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
    gap: 1rem;
}

.invest-card {
    background-color: #E0FFFF;
    border: 2px solid white;
    position: relative;
    border-radius: .5rem;
    padding: 0.75rem 0;
    width: 100%;
    height: auto;
    max-width: 280px;
    /* shadow-lg */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation-name: anime;
    animation-duration: 4s;
    animation-delay: .5s;
}

.invest-card:hover {
    transform: scale(105%);
    transition: all 0.5s ease-in-out;
}


@keyframes anime {

    0%,
    100% {
        background-color: #E0FFFF;
    }

    25% {
        background-color: #F0F8FF;
    }

    50% {
        background-color: #E0FFFF;
    }

    75% {
        background-color: #F0F8FF;
    }

    100%,
    0% {
        background-color: #E0FFFF;
    }
}

.invest-card img {
    position: absolute;

    margin: .5rem;
}

.invest-card-profit {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
    margin-bottom: 2rem;
}

.invest-card-capital {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
}

.invest-btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
    color: white;
    position: absolute;
    background-color: blue;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

.invest-btn:hover {
    background-color: dodgerblue;
    color: white;
    transition: all 0.5s ease-in-out;
}

.invest-btn a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand";
}

.percentage {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1.25rem;
    font-size: .9rem;
    font-weight: normal;
}

@media screen and (max-width: 1224px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}