@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans",
        sans-serif;
    margin: 0 auto;
    background-color: rgb(105, 105, 255);
}

.head_title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.con_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 90%;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

}

.invest-card {
    background-color: white;
    position: relative;
    margin: 0.75rem;
    border-radius: .5rem;
    padding: 0.75rem 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
    /* shadow-lg */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.invest-card-profit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
}

.invest-card-capital {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.invest-btn {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
    color: white;
    position: absolute;
    background-color: black;
    bottom: 0;
    right: 0;
    margin: 0.75rem;
}

.invest-btn a {
    text-decoration: none;
    color: white;
}

.percentage {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1.25rem;
    font-size: .9rem;
    font-weight: normal;
}

@media screen and (max-width: 1224px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}