body {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    height: 75vh;
    background-color: rgb(105, 105, 255);
}

button {
    padding: .5rem .75rem;
    width: 100%;
    border-radius: .5rem;
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 1rem auto;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.second_container {
    padding: 10px;
    height: 100%;
    background: white;
    width: 80%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.title_head {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: rgb(72, 92, 228);
}

.p_logo_bg {
    justify-content: center;
    display: flex;
    align-items: center;
}

.p_logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: rgb(72, 92, 228);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.input_bars {
    padding: 20px;
}

.input_bars input {
    margin-top: 2rem;
    border: none;
    width: 100%;
    outline: none;
    height: 40px;
    border-bottom: 2px solid rgb(169, 172, 187);
}

.input_bars input::placeholder {
    margin-bottom: 4px;
    font-weight: 100;
    font-size: 15px;
}

.btn {
    padding: 20px;
}

.btn button {
    height: 50px;
    background: rgb(72, 92, 228);
    border: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.end_text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.end_text a {
    color: rgb(72, 92, 228);
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}