.card_bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title {
    text-align: center;
}

.card_title h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.75rem, 4vh, 1.25rem);
}

.card-payment {
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    height: auto;
    text-align: center;
    width: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_details {
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_details p {
    margin-top: 15px;
}

.container {
    display: grid;
    place-content: center;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
}

.none {
    display: none;
}

input,
button {
    display: block;
    padding: .5rem;
    margin: 1rem 0;
    font: inherit;
}

.btn-payment button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    height: 40px;
    border: none;
    width: 100%;
    border-radius: 9px;
    color: white;
    font-weight: 600;
    background: black;
}

.btn-payment button a {
    text-decoration: none;
    color: white;
}

.form {
    display: grid;
    place-items: center;
}


.loader-container {
    /* Styles for positioning the container (optional) */
    display: none;
    /* Initially hide the loader */
    position: absolute;
    /* Example positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 8px solid #f3f3f3;
    /* Border for the circle */
    border-radius: 50%;
    /* Make it a circle */
    border-top: 8px solid #3498db;
    /* Animated part */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* Animation details */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem 0.75rem;
}