body {

}
.card_bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_title{
    text-align: center;
}
.card_title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-payment {
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    height: 280px;
    text-align: center;
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card_details{
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card_details p{
    margin-top: 15px;
}

.btn-payment button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    height: 40px;
    border: none;
    width: 50%;
    border-radius: 9px;
    font-weight: 600;
    background: black;
}

.btn-payment button a{
    text-decoration: none;color: white;
}
footer {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem 0.75rem;
}