@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand",
        sans-serif;
    background-color: #E0FFFF;
}


.card_bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title {
    text-align: center;
}

.card_title h1 {

    font-size: clamp(.75rem, 4vh, 1.25rem);
}

.card-payment {
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    height: auto;
    text-align: center;
    width: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

.card_details {
    margin-top: 40px;

}

.card_details p {
    margin-top: 15px;
}

.container {
    display: grid;
    place-content: center;
    background-color: white;
}

#btnBtn {
    margin: 1rem auto;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    border: none;
}

.none {
    display: none;
}


button {
    display: block;
    padding: .75rem;
    margin: 1rem 0;
    font: inherit;
    border-radius: 0.5rem;

}

input {
    display: block;
    padding: .45rem;
    margin: 1rem 0;
    font: inherit;
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 100%;

}

.btn-payment button {

    margin-top: 10px;
    height: 40px;
    border: none;
    width: 100%;
    border-radius: 9px;
    color: white;
    font-weight: 600;
    background: black;
}

.btn-payment button a {
    text-decoration: none;
    color: white;
}

.form {
    display: grid;
    place-items: center;
}


.loader-container {
    /* Styles for positioning the container (optional) */
    display: none;
    /* Initially hide the loader */
    position: absolute;
    /* Example positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 8px solid #f3f3f3;
    /* Border for the circle */
    border-radius: 50%;
    /* Make it a circle */
    border-top: 8px solid #3498db;
    /* Animated part */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* Animation details */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.max-body {
    height: 75vh;
}

.button-container {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
    /* Initially hide the loader */
    position: absolute;
    /* Example positioning */
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butt {
    background-color: black;
    border: 8px solid #f3f3f3;
    /* Border for the circle */
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    animation: zoom 1s linear;
    /* Animation details */
    display: grid;
    place-content: center;
}

.butt a {
    text-decoration: none;
    color: white;
}

@keyframes zoom {
    0% {
        transform: scaleZ(0)
    }

    100% {
        transform: scaleZ(100);
    }
}

footer {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem 0.75rem;
}