.container {
    display: grid;
    place-content: center;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
}

input,
button {
    display: block;
    padding: .5rem;
    margin: 1rem 0;
    font: inherit;
}